.vs/
.vsidx/

# Ignore build outputs
/bin/
/obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore NuGet package files
*.nupkg
*.snupkg
*.nuget.cache

# Ignore VS Code files
.vscode/

# Ignore JetBrains Rider files
.idea/

# Ignore debug symbols and pdb files
*.pdb

# Ignore other common logs/temp
*.log