.vs/
ChessBackend/DataLayer/bin/Debug/net8.0/DataLayer.pdb
ChessBackend/DataLayer/bin/Debug/net8.0/DataLayer.dll
ChessBackend/ChessServer/obj/Debug/net8.0/refint/ChessServer.dll
ChessBackend/ChessServer/obj/Debug/net8.0/ref/ChessServer.dll
ChessBackend/ChessServer/obj/Debug/net8.0/ChessServer.sourcelink.json
ChessBackend/ChessServer/obj/Debug/net8.0/ChessServer.pdb
ChessBackend/ChessServer/obj/Debug/net8.0/ChessServer.dll
ChessBackend/ChessServer/obj/Debug/net8.0/ChessServer.csproj.AssemblyReference.cache
ChessBackend/ChessServer/obj/Debug/net8.0/ChessServer.AssemblyInfoInputs.cache
ChessBackend/ChessServer/obj/Debug/net8.0/ChessServer.AssemblyInfo.cs
ChessBackend/ChessServer/obj/Debug/net8.0/apphost.exe
ChessBackend/ChessServer/bin/Debug/net8.0/DataLayer.pdb
ChessBackend/ChessServer/bin/Debug/net8.0/DataLayer.dll
ChessBackend/ChessServer/bin/Debug/net8.0/ChessServer.pdb
ChessBackend/ChessServer/bin/Debug/net8.0/ChessServer.exe
ChessBackend/ChessServer/bin/Debug/net8.0/ChessServer.dll
ChessBackend/.vs/ProjectEvaluation/chessbackend.strings.v9.bin
ChessBackend/.vs/ProjectEvaluation/chessbackend.projects.v9.bin
ChessBackend/.vs/ProjectEvaluation/chessbackend.metadata.v9.bin
ChessBackend/.vs/ChessBackend/v17/DocumentLayout.json
ChessBackend/.vs/ChessBackend/v17/DocumentLayout.backup.json
ChessBackend/.vs/ChessBackend/v17/.suo
ChessBackend/.vs/ChessBackend/v17/.futdcache.v2
ChessBackend/.vs/ChessBackend/DesignTimeBuild/.dtbcache.v2
